*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.lisbon-main{
   
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

.lisbon{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.left{
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 350px;
    width: 320px;
    object-fit: cover;
}

.bottom{
    position: absolute;
    bottom: -15px;
    width: 1720px;
    height: 250px;
    right: 0;
}

.content-title{
    display: grid;
    place-items: center;
    height: 100vh;
    z-index: 2;
}

.main-title{
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-size: 8rem;
    letter-spacing: 0.7rem;
    font-family: "Overpass", sans-serif;
}

.second{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
}