*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(porto_river.jpg);
    background-repeat: no-repeat;
    color: #fff;
}
nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.heading-left-hero{
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
} 

.p-left-hero{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    font-family: "lora", sans-serif;
}

.algarve{
    cursor: pointer;
}
.algarve2:hover{
    cursor: pointer;
    fill: red;
    transition: 0.5s ease-in-out;
}



.clouds{
    animation-name: clouding;

}

@keyframes clouding{
    from{
        transform: translateX(0) ;
    }
    to{
        
    }
}