*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --font-text: #565360;
    --font-label: #908e9b;
    --font-disabled: #e1dfe9;
    --small-one: 4px;
    --small-two: 8px;
    --small-three: 12px;
    --medium-one: 16px;
    --medium-two: 20px;
    --medium-three: 24px;
    --large-one: 32px;
    --large-two: 48px;
    --large-three: 64px;
}

.lisbon{
    object-fit: fill;
    z-index: -1;
    width: 100%;
    height: 100%;

}

body{
    position: relative;
    background-image:url(Lisbon.jpg);
    
}

.main-content{
    transform: translateY(15%);
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(Lisbon.jpg);
    height: 80vh;
    width: 90%;
    margin: 0 auto; 
    border: 2px solid rgb(221, 216, 216);
    border-radius: 15px;
}

.nav-bar{
    display: flex;
    min-height: 10vh;
    align-items: center;
    padding: var(--large-two);
}

.logo{
    font-size: var(--large-one);
    color: rgb(243, 243, 243);
}

.div-main{
    display: flex;
    justify-content: space-between;
    padding: var(--large-two);
    max-height: 40vh;
    
}

.left{
    width: 50%;
    
}
.right{
    width: 50%;

}
.left-heading{
    font-size: var(--large-two);
    color: rgb(243, 243, 243);
    margin-bottom: 20px;
}

.left-paragraph{
    font-size: var(--medium-one);
    color: rgb(243, 243, 243);
}

.lower-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20vh;
    width: 80%;
    margin: 0 auto;
}

.left-squares{
    display: flex;
    justify-content: space-between;
    flex: 0.5;
}



.square{
    color: rgb(243, 243, 243);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square h4{
    margin-bottom: 5px;
    font-size: var(--medium-one);
}

.square span{
    font-size: var(--medium-one);
}

.cta-btn{
    background: none;
    color: rgb(243, 243, 243);
    padding: 10px 8px;
    width: 15%;
    border-radius: 20px;
    border: 2px solid rgb(243, 243, 243);
}

