*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background: url(/algarve/images/algarve.jpg) no-repeat;
    background-size: cover;
    color: white;
    max-height: 100vh;
    max-width: 100vw;
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: calc(100vh - 10vh);
}

.left-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
}
.heading-left-hero{
    font-size: 4rem;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
} 

.p-left-hero{
    font-size: 1.3rem;
    margin-top: 0.5rem;
    font-family: "lora", sans-serif;
    width: 50%;
}

.pin-map{
    width: 55px;
    height: 45px;
}

.right-hero{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    height: 100vh;
    white-space: nowrap;
}

.container-carousel{
    display: flex;
    background: red;
    width: 50%;
}

.carousel-item{
    width: 150px;
    height: 150px;
    object-fit: cover;
    
}

.glider-prev, .glider-next{
    width: 30px !important;
    border-radius: 50%;
    border: none;
    padding: 0.5rem;
}